@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

::selection {
  @apply bg-primary text-white;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}